<!DOCTYPE html>
<html>
<head>
    <title>Informations clients</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1>Liste des informations clients</h1>
    <% for(var i = 0;  i < clients.length; i++) {%>
        <tr>
            <p><%= clients[i]%></p>
        </tr>
    <%}%>
</head>
</html>
