<!DOCTYPE html>
<html>
<head>
    <title>Hello World !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% for(var i = 0;  i < helloworldall.length; i++) {%>
        <p><%= helloworldall[i] %></p>
    <%}%>
</head>
</html>
