<!DOCTYPE html>
<html>
<head>
    <title>Informations produits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1>Liste des informations produits</h1>
    <% for(var i = 0;  i < products.length; i++) {%>
        <tr>
            <p><%= products[i] %></p>
        </tr>
    <%}%>
</head>
</html>
